/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Roboto Slab', serif;
}
 .footer_text {
  text-align: center;
  padding-top: 3px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #799e70
}

.footer p {
  /*margin-top: 14px;*/
  bottom: 0;
  color: #8c22c9;
}

#contents {
  display: block;
  margin: 30px;
  padding: 20px;
  text-align: center;
  color: #8c22c9;
}

#customize_nav {
  background-color: #639358 ;
}

.todo_logo {
  text-align: right;
}

#logo_heading{
  margin-top: 10px;
  color: #9e00fa;
}







